.excalidraw {
  .ExcalidrawLogo {
    --logo-icon--mobile: 1rem;
    --logo-text--mobile: 1.05rem;

    --logo-icon--xs: 2rem;
    --logo-text--xs: 2rem;

    --logo-icon--small: 2.5rem;
    --logo-text--small: 2.35rem;

    --logo-icon--normal: 3rem;
    --logo-text--normal: 3rem;

    --logo-icon--large: 90px;
    --logo-text--large: 84px;

    display: flex;
    align-items: center;

    svg {
      flex: 0 0 auto;
    }

    .ExcalidrawLogo-icon {
      width: auto;
      color: var(--color-logo-icon);
    }

    .ExcalidrawLogo-text {
      margin-left: 0;
      width: auto;
      color: var(--color-logo-text);
      display: block;
      max-width: min(70vw, 100%);
      object-fit: contain;
    }

    &.is-mobile {
      .ExcalidrawLogo-icon {
        height: var(--logo-icon--mobile);
      }

      .ExcalidrawLogo-text {
        height: var(--logo-text--mobile);
        margin-left: 0;
      }
    }

    &.is-xs {
      .ExcalidrawLogo-icon {
        height: var(--logo-icon--xs);
      }

      .ExcalidrawLogo-text {
        height: var(--logo-text--xs);
      }
    }

    &.is-small {
      .ExcalidrawLogo-icon {
        height: var(--logo-icon--small);
      }

      .ExcalidrawLogo-text {
        height: var(--logo-text--small);
      }
    }

    &.is-normal {
      .ExcalidrawLogo-icon {
        height: var(--logo-icon--normal);
      }

      .ExcalidrawLogo-text {
        height: var(--logo-text--normal);
      }
    }

    &.is-large {
      .ExcalidrawLogo-icon {
        height: var(--logo-icon--large);
      }

      .ExcalidrawLogo-text {
        height: var(--logo-text--large);
      }
    }
  }
}
